<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Divisima | eCommerce Template</title>
	<meta charset="UTF-8">
	<meta name="description" content=" Divisima | eCommerce Template">
	<meta name="keywords" content="divisima, eCommerce, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">


	<!-- Stylesheets -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/flaticon.css}"/>
	<link rel="stylesheet" th:href="@{/css/slicknav.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/animate.css}"/>
	<link rel="stylesheet" th:href="@{/css/style.css}"/>


	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body id="body">
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<div th:replace="fragments/header :: header"></div>
	<!-- Header section end -->


	<!-- Page info -->
	<div class="page-top-info">
		<div class="container">
			<h4>Your cart</h4>
			<div class="site-pagination">
				<a href="/index">Home</a> /
				<a href="">Your cart</a>
			</div>
		</div>
	</div>
	<!-- Page info end -->


	<!-- cart section end -->
	<section class="cart-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="cart-table">
						<h3>Your Cart</h3>
						<div class="cart-table-warp">
							<table>
							<thead>
								<tr>
									<th class="product-th">Product</th>
									<th class="quy-th">Quantity</th>
									<th class="size-th">SizeSize</th>
									<th class="total-th">Price</th>
								</tr>
							</thead>
							<tbody id="list-product-in-cart">

							</tbody>
						</table>
						</div>
						<div class="total-cost">
							<h6>Total <span id="total-price">$99.90</span></h6>
						</div>
					</div>
				</div>
				<div class="col-lg-4 card-right">
					<form class="promo-code-form">
						<input type="text" placeholder="Enter promo code">
						<button>Submit</button>
					</form>
					<a href="/checkout" class="site-btn">Proceed to checkout</a>
					<a href="./listProduct" class="site-btn sb-dark">Continue shopping</a>
				</div>
			</div>
		</div>
	</section>
	<!-- cart section end -->

	<!-- Related product section -->
	<section class="related-product-section">
		<div class="container">
			<div class="section-title text-uppercase">
				<h2>Continue Shopping</h2>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<div class="tag-new">New</div>
							<img src="./img/product/2.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$35,00</h6>
							<p>Black and White Stripes Dress</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="./img/product/5.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$35,00</h6>
							<p>Flamboyant Pink Top </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="./img/product/9.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$35,00</h6>
							<p>Flamboyant Pink Top </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="./img/product/1.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$35,00</h6>
							<p>Flamboyant Pink Top </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Related product section end -->



	<!-- Footer section -->
	<div th:replace="fragments/footer :: footer"></div>
	<!-- Footer section end -->



	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.slicknav.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.nicescroll.min.js"></script>
	<script src="js/jquery.zoom.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/main.js"></script>

	<script>
		var userInfo = null;
		var token = getCookie("token");
		function getCookie(cname) {
			var name = cname + "=";
			var ca = document.cookie.split(';');
			for(var i = 0; i < ca.length; i++) {
				var c = ca[i];
				while (c.charAt(0) == ' ') {
					c = c.substring(1);
				}
				if (c.indexOf(name) == 0) {
					return c.substring(name.length, c.length);
				}
			}
			return "";
		}
		console.log(token);
		getUserInfo();
		function getUserInfo() {
			if(token == ""){
				console.log("Tai khoan chua dang nhap");
			}
			$.ajax({
				url: "http://localhost:8082/apiLogin/getUserInfo",
				data: { signature: token },
				type: "GET",
				beforeSend: function(xhr){xhr.setRequestHeader('token', token);},
				success: function (result) {
					console.log(result);
					if(result.data != null){
						userInfo = result.data;
						console.log(userInfo);
						fillUserInfo();
						renderProductInCard(userInfo.cart.listProduct);
					}
					else{
							window.location.replace("http://localhost:8082/login");
					}
				}
			})
		}
		function fillUserInfo() {
			$('#icon-login').remove();
			$('#user-name').html("Hi, "+userInfo.name);
			$("#user-info").css("display", "inline-block");
			let numberProductInCart = 0;
			userInfo.cart.listProduct.map(item => {
				numberProductInCart += item.quantity;
			});
			console.log("Number of product in cart: " + numberProductInCart);
			$('#number-product-in-cart').html(numberProductInCart);
		}

		function renderProductInCard(data) {
			loadAnimation();
			$('#list-product-in-cart').empty();
			let totalPrice = 0;
			data.map(item => {
				$('#list-product-in-cart').append(`<tr>
<td class="product-col">
<img src="./img/product/${item.image%11 +1}.jpg" alt="">
<div class="pc-title">
<h4>${item.name}</h4>
<p>$ ${item.price}</p>
</div>
</td>
<td class="quy-col">
<div class="quantity">
                  <div class="pro-qty"><span class="dec qtybtn" onclick="removeSingleProductFromCart(${item.id})">-</span>
<input type="text" onchange="updateNumberProduct(${item.id},this.value)" value="${item.quantity}">
<span class="inc qtybtn" onclick="addSingleProductToCart(${item.id})">+</span></div>

</div>
</td>
<td class="size-col"><h4>Size M</h4></td>
<td class="total-col"><h4>$ ${item.price * item.quantity}</h4></td>
</tr>`);
				totalPrice += item.price * item.quantity;
			})
			$('#total-price').empty();
			$('#total-price').html("$" +totalPrice);
			removeAnimate();
		}


		function addSingleProductToCart(productID) {
			token = getCookie("token");
			getUserInfo();
			if (userInfo == null) {
				window.location.replace("http://localhost:8082/login");
				return;
			}
			let updateCartRequest = {
				id: productID,
				number: 1,
				type: 1
			};
			$.ajax({
				url: "http://localhost:8082/cart/update/" + userInfo.id,
				data: {signature: token},
				type: "PUT",
				data: JSON.stringify(updateCartRequest),
				contentType: "application/json",
				beforeSend: function (xhr) {
					xhr.setRequestHeader('token', token);
				},
				success: function (response) {
					console.log(response);
					if (response.code == '00') {
						console.log("Sucess add product to cart!");
						token = getCookie("token");
						getUserInfo();
					}
					if (response.code == '404') {
						window.location.replace("http://localhost:8082/login");
					}
				},
				error: function (error) {
					alertify.error('Error');
				}
			})
		}
		function removeSingleProductFromCart(productID) {
			token = getCookie("token");
			getUserInfo();
			if (userInfo == null) {
				window.location.replace("http://localhost:8082/login");
				return;
			}
			let updateCartRequest = {
				id: productID,
				number: 1,
				type: 2
			};
			$.ajax({
				url: "http://localhost:8082/cart/update/" + userInfo.id,
				data: {signature: token},
				type: "PUT",
				data: JSON.stringify(updateCartRequest),
				contentType: "application/json",
				beforeSend: function (xhr) {
					xhr.setRequestHeader('token', token);
				},
				success: function (response) {
					console.log(response);
					if (response.code == '00') {
						console.log("Sucess add product to cart!");
						token = getCookie("token");
						getUserInfo();
					}
					if (response.code == '404') {
						window.location.replace("http://localhost:8082/login");
					}
				},
				error: function (error) {
					alertify.error('Error');
				}
			})
		}

		function updateNumberProduct(productID, number) {
			if(isNaN(number) || number == "" || number<0 || number%1 != 0){
				alertify.error('Invalid data!');
				getProductInCart(cartID);
				return;
			}
			token = getCookie("token");
			getUserInfo();
			if (userInfo == null) {
				window.location.replace("http://localhost:8082/login");
				return;
			}
			let updateCartRequest = {
				id: productID,
				number: number,
				type: 3
			};
			$.ajax({
				url: "http://localhost:8082/cart/update/" + userInfo.id,
				data: {signature: token},
				type: "PUT",
				data: JSON.stringify(updateCartRequest),
				contentType: "application/json",
				beforeSend: function (xhr) {
					xhr.setRequestHeader('token', token);
				},
				success: function (response) {
					console.log(response);
					if (response.code == '00') {
						console.log("Sucess add product to cart!");
						token = getCookie("token");
						getUserInfo();
					}
					if (response.code == '404') {
						window.location.replace("http://localhost:8082/login");
					}
				},
				error: function (error) {
					alertify.error('Error');
				}
			})
		}



	</script>
	</body>
</html>
