<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Header section -->
<header th:fragment="header" class="header-section">
    <div th:replace="fragments/link :: link"></div>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 text-center text-lg-left">
                    <!-- logo -->
                    <a href="./index" class="site-logo">
                        <img src="img/logo.png" alt="">
                    </a>
                </div>
                <div class="col-xl-6 col-lg-5">
                    <form class="header-search-form">
                        <input id="keyword-search" type="text" placeholder="Search on divisima ....">
                        <button><i class="flaticon-search"></i></button>
                    </form>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="user-panel">
                        <div id="icon-login" class="up-item">
                            <i class="flaticon-profile"></i>
                            <a href="/login">Sign</a> In or <a href="/registration">Create Account</a>
                        </div>
                        <div id="user-info" style="display: none;" class="up-item" >
                            <i class="flaticon-profile"></i>
                            <a id="user-name" href="#"></a>
                        </div>
                        <div class="up-item">
                            <div class="shopping-card">
                                <i class="shopping-card flaticon-bag"></i>
                                <span id="number-product-in-cart" >0</span>
                            </div>
                            <a onclick="openCart()" href="#">Shopping Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="main-navbar">
        <div class="container">
            <!-- menu -->
            <ul class="main-menu">
                <li><a href="/index">Home</a></li>
                <li><a href="./listProduct">Products</a></li>
                <li><a href="#">Men</a></li>
                <li><a href="#">Jewelry
                    <span class="new">New</span>
                </a></li>
                <li><a href="#">Shoes</a>
                    <ul class="sub-menu">
                        <li><a href="#">Sneakers</a></li>
                        <li><a href="#">Sandals</a></li>
                        <li><a href="#">Formal Shoes</a></li>
                        <li><a href="#">Boots</a></li>
                        <li><a href="#">Flip Flops</a></li>
                    </ul>
                </li>
                <li><a href="#">Pages</a>
                    <ul class="sub-menu">
                        <li><a href="productDetail.html">Product Page</a></li>
                        <li><a href="listProduct.html">Category Page</a></li>
                        <li><a href="./cart.html">Cart Page</a></li>
                        <li><a href="./checkout.html">Checkout Page</a></li>
                        <li><a href="./contact.html">Contact Page</a></li>
                    </ul>
                </li>
                <li><a onclick="delete_cookie()" href="#">Logout</a></li>
            </ul>
        </div>
    </nav>
    <!--====== Javascripts & Jquery ======-->
    <script th:src="@{js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <script th:src="@{js/jquery.slicknav.min.js}"></script>
    <script th:src="@{js/owl.carousel.min.js}"></script>
    <script th:src="@{js/jquery.nicescroll.min.js}"></script>
    <script th:src="@{js/jquery.zoom.min.js}"></script>
    <script th:src="@{js/jquery-ui.min.js}"></script>
    <script th:src="@{js/main.js}"></script>
    <script>
        var userInfo ;
        var token = getCookie("token");
        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for(var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
        console.log(token);
        getUserInfo();
        function getUserInfo() {
            if(token == ""){
                console.log("Tai khoan chua dang nhap");
            }
            $.ajax({
                url: "http://localhost:8082/apiLogin/getUserInfo",
                data: { signature: token },
                type: "GET",
                beforeSend: function(xhr){xhr.setRequestHeader('token', token);},
                success: function (result) {
                    console.log(result);
                    userInfo = result.data;
                    if(result.data != null){
                        userInfo = result.data;
                        console.log(userInfo);
                        fillUserInfo();
                    }
                }
            })
        }
        function fillUserInfo() {
            $('#icon-login').remove();
            $('#user-name').html("Hi, "+userInfo.name);
            $("#user-info").css("display", "inline-block");
            let numberProductInCart = 0;
            userInfo.cart.listProduct.map(item => {
                numberProductInCart += item.quantity;
            });
            console.log("Number of product in cart: " + numberProductInCart);
            $('#number-product-in-cart').html(numberProductInCart);
        }



        function openCart() {
            if(userInfo == null){
                window.location.replace("http://localhost:8082/login");
            }
            else{
                window.location.replace("http://localhost:8082/cart");
            }
        }

        function delete_cookie() {
            document.cookie = "token" +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
            window.location.replace("http://localhost:8082/login");
        }

    </script>
</header>
<!-- Header section end -->

</body>
</html>